{
  "env": {
    "es5": {
      "presets": [
        "es2015-loose",
        "react",
        "stage-2"
      ],
      "plugins": [
        "transform-class-properties",
        "transform-export-extensions"
      ]
    },
    "es6": {
      "presets": [
        "es2015-loose-native-modules",
        "react",
        "stage-2"
      ],
      "plugins": [
        "transform-class-properties",
        "transform-export-extensions"
      ]
    }
  }
}